{% extends 'base.html' %}
{% load static %}
{% block title %}Humble Hotheads Home Page{% endblock %}

{% block head %}
<!-- <div style="position: fi;z-index:100">
  <marquee direction="right" style="position: sticky">
    <div class="d-flex">
      <h2 class="mx-auto">HumbleHotheads</h2>
    </div>
  </marquee>

</div>
 -->

{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/slick.css">

<link rel="stylesheet" href="/static/slick-theme.css">
<style media="screen">
.slick-prev:before, .slick-next:before{
    color:gray;
}
.carousel{
    max-height: 400px;
    max-width: 400px;

    width: 100%;
    height: auto;
}
.carousel-div{
  border: 0.75px solid white ;
  border-radius: 1px;
  background-color: black;
  color: white;

}

</style>

<div class='container'>
    <!-- <div class='row'>

    </div> -->
    <div class="row">
      <div class="col-4">
        <div class="first_half">
          {% for i in product0 %}
          <!-- <div>
            <img src="{{i.image.url}}" class="carousel mx-auto">
            <a href="/products/{{i.pk}}/" class="stretched-link"></a>
          </div> -->
          <div class="carousel-div">
            <img src="{{i.image.url}}" class="carousel">
            <h4>{{i.title}}</h4>
            <h4>{{i.price}} £</h4>

            <a href="/products/{{i.pk}}/" class="stretched-link"></a>
          </div>
          {% endfor %}
        </div>

      </div>
      <div class='col-4'>
        <div class="m-2">
          <img src="{% static 'Label.jpg' %}" class='img-fluid' />
        </div>

      </div>
      <div class="col-4">
        <div class="second_half">
          {% for i in product1 %}
            <div class="carousel-div">
              <img src="{{i.image.url}}" class="carousel">
              <h4 class="ml-1">{{i.title}}</h4>
              <h4 class="ml-1">{{i.price}} £</h4>

              <a href="/products/{{i.pk}}/" class="stretched-link"></a>
            </div>
          {% endfor %}
        </div>

      </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/slick.js"></script>

<script type="text/javascript">
  $(function () {
    var opt = {
      // vertical:true,
      fade: true,
      slidesToScroll: 1,
      dots: true,
      centerMode: true,
      autoplay: true,
      autoplaySpeed: 1500,
      }
    $(".first_half").slick(opt)
    $(".second_half").slick(opt)

  })
</script>
{% endblock %}
