

<!doctype html>
{% extends 'base.html' %}
{% load static %}
{% block title %}Humble Hotheads Home Page{% endblock %}

{% block head %}
<!-- <div style="position: fi;z-index:100">
  <marquee direction="right" style="position: sticky">
    <div class="d-flex">
      <h2 class="mx-auto">HumbleHotheads</h2>
    </div>
  </marquee>

</div>
 -->

{% endblock %}
{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-6 mx-auto'>
                <h1>{{ n|floatformat }} {{ title }}</h1>
               <h2> Join the Humble Hothead Army! </h2>
                <img src="{% static 'Label.jpg' %}" class='img-fluid' />
        <p> {{content}}</p>
        <div class='col-sm-6 col-12'>

        </div>
      </div>
    </div>
    <div class='row'>
        <div class="col-4">
          <img src="{% static 'mens.jpg' %}" class='img-fluid' /></br>
          <a href="/products-fbv?gender=men" class="stretched-link">Men's</a>
        </div>
        <div class="col-4">
          <img src="{% static 'womens.jpg' %}" class='img-fluid' /></br>
          <a href="/products-fbv?gender=women" class="stretched-link">Women's</a>
        </div>
        <div class="col-4">
          <img src="{% static 'kids.jpg' %}" class='img-fluid' /></br>
          <a href="/products-fbv?gender=kids" class="stretched-link">Kid's</a>
        </div>
    </div>

  <div class='row'>
    <div class='col'>
      {% if request.user.is_authenticated %}
      <h1>Premium</h1>
      {{ premium_content }}
    </div>
    {% endif %}


  </div>
</div>
{% endblock %}
