

<!doctype html>
{% extends 'base.html' %}
{% load static %}
{% block title %}Humble Hotheads Home Page{% endblock %}

{% block head %}
<div class="d-flex">
  <h2 class="mx-auto">Join the army</h2>
</div>
{% endblock %}
{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-6 mx-auto'>
                <h1>{{ n|floatformat }} {{ title }}</h1>
               <h2> Join the Humble Hothead Army! </h2>
                <img src="{% static 'Label.jpg' %}" class='img-fluid' />
        <p> {{content}}</p>
        <div class='col-sm-6 col-12'>

        </div>
      </div>
    </div>

  <div class='row'>
    <div class='col'>
      {% if request.user.is_authenticated %}
      <h1>Premium</h1>
      {{ premium_content }}
    </div>
    {% endif %}


  </div>
</div>
{% endblock %}
