<style media="screen">
  .fonts{
    font-family: Brush Script MT, cursive;
    font-size: 1.2em
  }
  .head{
    font-family: Courier, cursive;
    font-weight: bolder;
  }
  .navbar{
    border: 0.75px solid black ;
    border-radius: 1px;
  }

</style>
<div style="position: sticky;top:0;left:0">
  <marquee direction="right" style="position: sticky">
    <div class="d-flex fonts">
      <h2 class="mx-auto">Humble Hotheads</h2>
    </div>
    <div class="d-flex fonts">
      <h2 class="mx-auto">London</h2>
    </div>
  </marquee>

</div>

<div class="d-flex head">
  <h3 class="mx-auto">Welcome 2 the army</h3>
</div>

<nav class="navbar navbar-expand-lg navbar-light mb-3">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/products-fbv/">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">Personal Info</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/user/cart/">View cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Sign up</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
