
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load filters %}
<style media="screen">
.carousel{
    max-height: 500px;
    max-width: 500px;

    width: 100%;
    height: auto;
}

</style>
<div class="container">
  <!-- <div class="dropdown my-2">
    <button class="btn btn-secondary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filters
    </button>
    <div class="dropdown-menu drop_menu">
      <div class="d-flex">
        <button type="button" class="btn btn-outline-info ml-auto" onclick="cal_filters()">Apply filters</button>
      </div>
      <div class="form-group mx-4">
        <label>Category:</label>
        <div class="row ml-4">
          {% for cat in categories %}
            <div class="col-4">
              <input type="checkbox" name="cat_check" value="{{cat.pk}}">
              <label>{{cat.category}}</label>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div> -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    {% for i in object_list.keys %}
      {% if forloop.counter == 1 %}
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="{{i}}-tab" data-toggle="tab" href="#{{i}}__tab" role="tab" aria-controls="home" aria-selected="true">{{i}}</a>
        </li>
      {% else %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="{{i}}-tab" data-toggle="tab" href="#{{i}}__tab" role="tab" aria-controls="home" aria-selected="true">{{i}}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class="tab-content" id="myTabContent">
    {% for i in object_list.keys %}
      {% if forloop.counter == 1 %}
        <div class="tab-pane fade show active" id="{{i}}__tab" role="tabpanel">
          {% with obj=object_list|get_val:i %}
          {% if obj|length == 0 %}
            <div class="alert alert-info">
              Nothing to show in this category
            </div>
          {% else %}
            <div class="row">
              {% for i in obj %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <img src="{{i.image.url}}" class="carousel">
                  <h4 class="ml-1">{{i.title}}</h4>
                  <h4 class="ml-1">{{i.price}} £</h4>

                  <a href="/products/{{i.pk}}/" class="stretched-link"></a>
                </div>
              {% endfor %}
            </div>
          {% endif %}
          {% endwith %}
        </div>
      {% else %}
        <div class="tab-pane fade" id="{{i}}__tab" role="tabpanel">
          {% with obj=object_list|get_val:i %}
          {% if obj|length == 0 %}
            <div class="alert alert-info">
              Nothing to show in this category
            </div>
          {% else %}
            <div class="row">
              {% for i in obj %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <img src="{{i.image.url}}" class="carousel">
                  <h4 class="ml-1">{{i.title}}</h4>
                  <h4 class="ml-1">{{i.price}} £</h4>

                  <a href="/products/{{i.pk}}/" class="stretched-link"></a>
                </div>
              {% endfor %}
            </div>
          {% endif %}
          {% endwith %}
        </div>
      {% endif %}
    {% endfor %}
    <!-- <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"></div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"></div> -->
  </div>
  <!-- <div class="row">
    {% for i in object_list %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <img src="{{i.image.url}}" class="carousel">
        <h4 class="ml-1">{{i.title}}</h4>
        <h4 class="ml-1">{{i.price}} £</h4>

        <a href="/products/{{i.pk}}/" class="stretched-link"></a>
      </div>
    {% endfor %}
  </div> -->
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  $(function () {

  })
  function cal_filters() {
    let cat = []
    $("input[name='cat_check']:checked").map(function () {
      cat.push($(this).val())
    })
    if (cat.length === 0) {
      location.href=`/products-fbv/`
    }
    else {
      cat = cat.join(',')
      location.href=`/products-fbv/?category=${cat}`
    }

  }
</script>
{% endblock %}
